body{

    background-color: lightgrey;
}
div{
    display:block;
    margin: 0px  auto;
    padding: 80px 80px;

}

h1{
    font-family: fantasy;
    font-size: 60px;
    text-align: center;
    color: navy;
    margin: 30px  auto;
    font-weight: bold;
}

ul{
    font-family:fantasy;
    font-size: 24px;
    color: navy;
}

p{
    font-family: fantasy;
    font-size-adjust: inherit;
    text-align: center;
}